<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	 id="WebApp_ID" version="2.5">
  <display-name>SH</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
        <servlet-name>seeyonCommon</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:conf/applicationContext.xml,
            classpath*:conf/spring-config.xml,
            classpath*:conf/urlMapping.xml,
            classpath*:conf/hibernate.cfg.xml
        </param-value>
    </context-param> 
    
    
    

	<servlet-mapping>
        <servlet-name>seeyonCommon</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <listener>   
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>   
	</listener> 
  
 
  	
	<context-param>
		<param-name>config.A8ApplicationRoot.key</param-name>
		<param-value>A8ApplicationRoot</param-value>
	</context-param> 
	<context-param>
		<param-name>ApplicationContextPath</param-name>
		<param-value>/seeyon</param-value>
	</context-param>
	
	 <!-- 应用系统的启动监听 -->
  	<listener>
    	<listener-class>com.seeyon.v3x.init.SystemInitialized</listener-class>
    </listener>
	<jsp-config>
  		<taglib>
  			<taglib-uri>http://v3x.seeyon.com/taglib/core</taglib-uri>
  			<taglib-location>/WEB-INF/tld/v3x.tld</taglib-location>
  		</taglib>
  	</jsp-config>
  	
  	<!-- 自定义过滤器 -->
  	<filter>
  		<filter-name>rightFilter</filter-name>
  		<filter-class>com.filter.RightFilter</filter-class>
  		<init-param>
  			<param-name>ignore</param-name>
  			<param-value>false</param-value>
  		</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>rightFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	
</web-app>